<div id="page-title">
	<h1>[Name of Video Here]</h1>
</div>
<main id="content" class="edit" role="main">
	<div class="video"></div>
	<div class="resultsContainer">
		<span id="resultsLikeImage" class="glyphicon glyphicon-thumbs-up"></span>
		<p id="likeScore">37 likes</p>
	</div>
	<div class="resultsContainer"> 
		<span id="resultsDislikeImage" class="glyphicon glyphicon-thumbs-down"></span>
		<p id="dislikeScore">7 Dislikes</p>
	</div>
	<h3>Video Responses</h3>
	<div class="list-group list-comments">
		<a class="list-group-item" href="#" data-panel-selector="#panel_view_video"> 
			<div class="media">
				<div class="thumbnail pull-left"><img src="images/default-avatar.png"></div>
				<div class="media-body">
					<h5 class="media-heading">John Doe</h5>
				</div>
			</div>
		</a>
	</div>
	<button type="button" class="btn btn-lg btn-block btn-danger">Delete Video</button>
</main>