<div id="page-title">
	<h1><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Leaderboard</h1>
</div>
<main id="content" role="main">
	<div class="filter">
    	<div class="btn-group btn-group-justified">
    		<span class="btn btn-default btn-label">Best of:</span>
			<a href="#" class="btn btn-default active">This Week</a>
			<a href="#" class="btn btn-default">This Month</a>
			<a href="#" class="btn btn-default">This Year</a>
		</div>
	</div>
	<div class="list-group list-leaderboard">
    	<a class="list-group-item" href="#" data-panel-selector="#panel_view_video">
        	<div class="media">
	        	<div class="thumbnail pull-left">
		        	<img class="media-object" src="images/default-avatar.png">
	        	</div>
	        	<div class="media-body">
	        		<span class="glyphicon glyphicon-chevron-right"></span>
		        	<h5 class="media-heading">Call Me Maybe <small class="text-muted">John Doe</small></h5>
		        	<span class="label label-success">15&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></span>&nbsp;<span class="label label-danger">4&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span></span>
		        	<small><span class="text-muted">5 days ago</span></small>
	        	</div>
        	</div>
    	</a>
	</div>
</main>